@import './global.scss';

.leftbar {
    background-color: #fce2fc3b;
    color: $textDark;
    width: 25vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mobile {
        width: 100vw;
        height: 11vh;
        position: relative;

    }

    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        transition: all 1s ease;

        @include mobile {
            align-items: flex-end;
            padding-right: 8vw;
        }

        ul {
            font-size: 25px;
            font-weight: 500;
            width: 60%;
            color: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include mobile {
                width: 100%;
                flex-direction: row;
                justify-content: flex-end;
                font-size: 15px;
            }
            
            li {
                margin-top: 10px;
                border-bottom: 3px solid #fce2fc3b;

                &:hover, &.active {
                    color: #c997f2;
                    border-bottom: 3px solid #c997f2;
                }

                @include mobile {
                    margin-left: 20px;
                }
            }
            a {
                color: inherit;
                text-decoration: none;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}