@import '../styles/global.scss';

.portfolioList {
    font-size: 14px;
    font-weight: 500;
    margin-right: 50px;
    padding: 7px;
    list-style: none;
    border-radius: 10px;
    cursor: pointer;

    &.active {
        background-color: $textDark;
        color: white;
    }

    @include ex-mobile {
        margin-right: 10px;
    }
}